.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
ul{
	margin: 0px;
}
nav{
	background: rgba(0,0,0,0.2);
	height: 50px;
}

#banner{
	background: rgba(0,0,0,0.2);
	height: 700px;
}

nav ul{
	list-style: none;
	margin: 0;
}

nav ul li,nav.logo{
	display: inline-block;
	line-height: 50px;
	float: right;
	margin-right: 20px;
}

nav ul li a{
	line-height: inherit;
	text-decoration: none;
	display: inline-block;
	height: inherit;
	color: #fff;
}

nav ul li.logo{
	float: left;
}

#banner  .inner{
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 300px;
	color: #fff;
}

#banner  .inner h1{
	margin: 0;


}

button{
	border:none;
	background: #089DB0;
	color: #fff;
	padding: 15px 40px;
	letter-spacing: 3px;
}

#banner button{
	padding: 15px 40px;
}

#banner  .inner  .more{
	margin-top: 280px;
}

.sub-heading{
	line-height: 30px;
	margin: 10px;
}

.logo{
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 5px;

}

.logo  a{
	color: #fff;	
}
h1{
	padding: 12px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
h2{
	font-size: 30px;
	text-align: center;
}
h3{
	font-size: 25px;
}

p{
	font-size: 15px;
	letter-spacing: 2px;
}

.hr{
	height: 2px;
	width: 100%;
	margin: 20px auto;
}

.sub-heading{
	font-size: 20px;
}

.green-section{
	text-align: center;
	background: #089DB0;
	color: #fff;
	padding: 100px 0;
}

.green-section .hr{
	background: #078494;
	width: %;
}

.green-section .icon-group .icon{
	display: inline-block;
	width: 80px;
	height: 80px;
	background: #0D6F7C;
	transform: rotate(45deg);
	margin: 20px;
}

.icon-group{
	margin-top: 60px;
}

.warapper{
	max-width: 1080px;
	margin: 0 auto;
}

.gray-section .img-section{
	width: 50%;
}

.img-section img{
	width: 100%;
}
.gray-section .text-section{
	width: 50%;
}

.article-preview>div{
	float:left;
	font-size: 0px;
}

.article-preview:nth-child(odd){
	background-color: rgba(255,255,0,0.5);
}

.article-preview:after /*.clearfix:after*/{
	content: '';
	display: block;
	clear: both;
}

.text-section{
	position: relative;
	top:70px;
	left: 50px; 
}

.text-section h2{
	margin-bottom: 20px;
}

.text-section .sub-heading{
	font-size: 22px;
	margin-top: 0;
}

.text-section p{
	font-size: 18px;
	letter-spacing: 2px;
}

.text-section>*{
	max-width: 90%;
}

.purple-section{
	padding: 80px;
	background: #3f3965;
	color: #fff;
	height: 1100px;
}
.purple-section .heading-wrapper{
	text-align: center;
}

.purple-section .hr{
	background:#373259;
	width: 60%;
}

.card{
	float: left;
	width: 50%;
	min-height:300px;
	padding: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border:1px solid white;
}

/*card:first-child{
	background: rgba(255,255,0,0.5);
}
.card:nth-child(2n+1){
	background: rgba(255,255,0,0.5);
}*/
/*.card p{
	font-size: 15px;
	letter-spacing: 2px;
}*/

footer{
	background: transparent;
	min-height: 200px;
	text-align: center;
}

 ul.share-group{
	display: block;
	width: 1080px;
	margin: 0 auto;
	padding:50px;
}
.share-group li{
	display: inline-block;
	padding: 10px;
}

.copy{
	padding-bottom: 20px;
}

.main-wrapper{
	background: url(../image/banner.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
}	