*{
	margin: 0px;
	padding: 0px;
}
table tr:nth-child(2n+1){
	background: rgb(204,204,204);
}
table tr:first-child{
	background: #000;
	color: #fff;
}
table tr:nth-child(2){
	color: red;
}
table tr:nth-child(3){
	color: red;
}
table tr:nth-child(4){
	color: red;
}
input{
	margin-top: 50px;
	width: 100px;
	transition: width 1s ease;
	-webkit-transition: width 1s ease;
}
input:focus{
	  box-shadow: 0 0 5px #72AEE6;
	  width: 200px;
}
#box{
	width:400px;
	height: 200px;
	position:relative;
	margin-top: 50px;
}
ul{
	height: 50px;
	width: 160px;
	padding: 0px;
	margin: 0px;
	position: absolute;
	list-style:none;
	right: -4px;
	bottom:0px;
	z-index: 1;
}
ul li{
	width: 53px;
	float: left;
	padding: 0px;
	margin: 0px;
}
ul li a{
	display: block;
	width: 50px;
	height:50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	background-color: #ccc;
	opacity: 0.5;
}
ul li a:hover{
	background: #666;
}
#list{
	/*transition: left 0.5;*/
	height:200px;
	overflow: hidden;
}
#one,#two,#three{
	width:400px;
	height: 200px;
	/*display: inline-block;*/
	position: relative;
}
/*#one{
}
#two{
}
#three{
}*/

@keyframes banner1{
	0%{
		left: 0px; 
	}
	50%{
		left: -400px;
	}
	100%{
		left: -800px;
	}
}
@keyframes banner2{
	0%{
		left: 400px; 
	}
	50%{
		left: 0px;
	}
	100%{
		left: -400px;
	}
}
@keyframes banner3{
	0%{
		left: 800px; 
	}
	50%{
		left: 400px;
	}
	100%{
		left: 0px;
	}
}
#one{
	left:0px;
	background-color: #00C000;	
	-webkit-animation-name: banner1;
  	-webkit-animation-duration: 2s;
  	-webkit-animation-timing-function: ease;
  	-webkit-animation-delay: 0s;
  	-webkit-animation-iteration-count:infinite;
  	-webkit-animation-direction:alternate;	
}
#two{
	left:400px;
	top: -200px;
	background-color: #00ffff;
	-webkit-animation-name: banner2;
  	-webkit-animation-duration: 2s;
  	-webkit-animation-timing-function: ease;
  	-webkit-animation-delay: 0s;
  	-webkit-animation-iteration-count:infinite;
  	-webkit-animation-direction:alternate;	

}
#three{
	left:800px;
	top: -400px;
	background-color: #0100FE;
	-webkit-animation-name: banner3;
  	-webkit-animation-duration: 2s;
  	-webkit-animation-timing-function: ease;
  	-webkit-animation-delay: 0s;
  	-webkit-animation-iteration-count:infinite;
  	-webkit-animation-direction:alternate;	
	
}